/*RESOLUÇÃO PARA TABLETS*/

@media only screen and (max-width: 480px) {
    .header {
        width: auto;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .header-title {
        font-size: 50px;
    }
    
    .main {
        width: auto;
        height:1091px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
    }

    .main-container-infos {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .main-container-infos p {
        width: 414px;
        font-size: 30px;
    }
    
    .main-container-images {
        background-color: #808080;
        width: 414px;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }

    .main-container-images span {
        width: 300px;
        height: 200px;
    }

    #main-img {
        display: none;
    }

    #mobile-img {
        display: block;
    }
}