html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(120deg, #000000, #479e96, #308078);
    height: 953px;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}

.header {
    background-color: #479e95;
    width: 1440px;
    height: 200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    color: #000000bd;
    font-size: 60px;
    font-weight: 600;
}

.menu {
    width: 400px;
    height: 80px;
}

.nav-list {
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
}

.nav-list li {
    background-color: rgba(0, 0, 0, 0.5);
    width: 140px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 600;
}

.nav-list li a {
    color: #ffffffa1;
}

.main {
    background: #00000080;
    color: #ffffff80;
    width: 1440px;
    height: 753px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    gap: 35px;
}

.main h1 {
    font-weight: 600;
}

.main-container-infos {
    display: flex;
    align-items: center;
}

.main-container-infos p {
    width: 680px;
    height: 300px;
    padding: 0 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 600;
}

.main-container-images {
    width: 680px;
    height: 500px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.main-container-images span {
    width: 213px;
    height: 500px;
    border-radius: 5px;
}

#mobile-img {
    display: none;
    border-radius: 5px;
}

#main-img {
    border-radius: 5px;
}